
/* Asterisk wildcard selector to override default styles added by the browser */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set Variable */
:root {
	/* Mobile Landscape */
	--mob-ls-nav-h: 10vh;
	--mob-ls-nav-input: 3em;
	--mob-ls-nav-span-w: 1.5em;
	--mob-ls-nav-span-h: 0.25em;
	--mob-ls-hot-item-img-w: 15vw;
	--mob-ls-hot-item-img-h: 15vh;

	/* Mobile */
	--mob-nav-h: 7vh;
	--mob-nav-input: 2.5em;
	--mob-nav-span-w: 1.5em;
	--mob-nav-span-h: 0.25em;
		/* width for hot item */
	--min-width: 365px;
	--max-width: 400px;
	/* width for hot item image */
	--hot-item-img-w: var(--hot-item-img-h);
	--hot-item-img-h: 15vh;
	
		/* Tablet 768px */
	/* Remember to calculate --tab-hero-pad (100vw -w)/2  */
	--tab-hero-w: 96vw;
	--tab-hero-pad:	calc(4vw/2);

	/* Laptop 768px */
	/* Remember to calculate --lap-hero-pad (100vw -w)/2  */
	--lap-hero-w: 48vw;
	--lap-hero-pad:	calc(52vw/2);
	
	/* _________________________________________________________________________________________________ */
	/* Generic */
	--bg-color:#FFFAFA ;
	--so-color:#FF7000 ;

 }

 /* _______________________________End of variable setting_________________________________ */

/* General styles */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	}

.hidden-heading {
    display: none;
}

.gap{
	gap: 3vh;
}

.uppercase {
	text-transform: uppercase;
}
/* _____________________________________________________Index.html _________________________________________________________________ */

/* header */
header {
    background: url("../images/abstract-back.webp") no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
	min-width: var(--min-width);
	height: var(--mob-nav-h);
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar,
.navbar ul {
	/* Setting to flex */
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	/* relative position */
	position: relative;
	padding: 5px;
	border-radius: 50px;
	background-color: #e19eae;
	top: -1.75vh;	
}

/* Input checkbox is the toggle to turn the box on and off */
.navbar input {
	width: var(--mob-nav-input);
	height: var(--mob-nav-input);
	/* when hover, cursor will become pointer */
	cursor: pointer;
	opacity: 0;
}

.navbar span {
	/* absolute position to make the "=" fix in a relative position */
	position: absolute;
	left: 0.6em;
	/* Align two spans together and put second span in different setting[span:nth-child(3)], calc tag will calculate the target location */
	top: calc(50% - 0.4em);
	width: var(--mob-nav-span-w);
	height: var(--mob-nav-span-h);
	border-radius: 15px;
	background-color: #2A2522;
	/* span has covered the checkbox so it makes invisible to pointer in order to ensure the click action */
	pointer-events: none;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

/* The second span is the third child component in "navbar" element so it is nth-child(3) */
.navbar span:nth-child(3) {
	top: calc(50% + 0.2em);
}

.navbar ul {
	width: 0;
	/* Hiding ul behind the circle of navbar before clicking toggle */
	overflow: hidden;
	/* Making font no wrap */
	white-space: nowrap;
	transition: all 1s;
}

navbar ul li {
	/* Reduce the bullet point in list */
	list-style: none;
	margin: 0 15px;
}

.navbar ul li a {
	/* remove underline of hyderlink */
	text-decoration: none;
	font-size: 1.3em;
	font-weight: 700; 
	color: blue;
	font-family: 'Bree Serif', serif;
	margin-right: 1.5vw;
}

.navbar ul li a:hover {
	color: rgb(255, 72, 0);
}

/* The size after input checkbox is checked */
.navbar input:checked ~ ul {
	width: 50vw;
	min-width: 400px;
}

/* Animation to span to transform from "=" to "x" */
.navbar input:checked ~ span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color: #3cff00;
	/* Execute top first and then execute transform */
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color: #3cff00;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

/* Logo */
#logo{
	z-index: 1;
	max-height: var(--mob-nav-h);
	position: relative;	
	right:1vh
}



/* Main section */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: var(--mob-nav-h);
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero slide section */
/* Hero image slide start */
.carousel_map {
	width: 100vw;
	min-width: var(--min-width);
	display:flex	
}

.slide {
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: relative;
}

/* When hover on the image, button will appear */
.slide:hover .labels {
	display: flex;
}

/* When hover on the slide, animation will stop */
.slide:hover .list {
	animation: none;
}

/* Hide the radio button */
.slide input {
	display: none;
}

/* Position of button */
.labels {
	position: absolute;
	bottom: 0.5em;
	z-index: 1;
	width: inherit;
	justify-content: center;
    /* When hover leave, button will hide */
	display: none;	
}

/* Design of button in hero sliDe */
.labels label {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin: 0 0.3rem;
	border: 0.1rem solid #fff;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
}

/* Button will be colored when checked */
input[id=pic1]:checked ~ .labels label[for=pic1],
input[id=pic2]:checked ~ .labels label[for=pic2],
input[id=pic3]:checked ~ .labels label[for=pic3],
input[id=pic4]:checked ~ .labels label[for=pic4] {
	background-color: #f80000;
	border: 0.1rem solid #fff;
}

/* Choose radio button to choose the image */
input[id=pic1]:checked ~ .list {
	transform: translate(calc(0 * 100vw));
}
input[id=pic2]:checked ~ .list {
	transform: translate(calc(-1 * 100vw));
}	
input[id=pic3]:checked ~ .list {
	transform: translate(calc(-2 * 100vw));
}
input[id=pic4]:checked ~ .list {
	transform: translate(calc(-3 * 100vw));
}

/* remove the bullet point in the list */
ul {
	list-style: none;
}

.list {
	width: calc(5 * 100vw);
	height: inherit;
	position: relative;
	
	/* Animation setting */
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes move {
	0% {
		transform: translate(calc(0 * 100vw));
	}
	25% {
		transform: translate(calc(-1 * 100vw));
	}
	50% {
		transform: translate(calc(-2 * 100vw));
	}
	75% {
		transform: translate(calc(-3 * 100vw));
	}
	100% {
		transform: translate(calc(-4 * 100vw));
	}
}

/* The setting of the image */
.item {
	width: 100vw;
	min-width: var(--min-width);
	float: left;
}

.item > img {
	aspect-ratio: 1 / 1;
	object-fit: fill;
	object-position: center;
}


/* Hot item section */

#hot-item{
	position: relative;
	/* Make main element take up any surplus space to push footer down */
	flex: 1 0 auto;
}

#hot-product {
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;
}

.gap > h2 {
	color: #BE2228;
	text-align: center;
	font-family: 'Lobster', sans-serif;
	font-size: 3em;
	padding: 1vh 0;
}

/* The box design of the whole product including photo and product detail */
.product-container {
	display: flex;
	width: 75%;
	min-width: var(--min-width);
	max-width: var(--max-width);
	background-color: #080A0B;
	opacity: 0.8;
	z-index: 1;
	color: #fff;
	margin-bottom: 1em;
}

.box-left {
	position: relative;
}

.box-right {
	position: relative;
	align-self: flex-end;
}

.hot-item-img {
	position: relative;
	height: var(--hot-item-img-h);
	width: var(--hot-item-img-w);
	flex: 1 1 20vw;
	border-radius: 0.25em;
	margin: 0.6em;
}

/* setting responsive height and width of product image */
.hot-item-img > img {
	height: var(--hot-item-img-h);
	width: var(--hot-item-img-w);
}

.hot-item-box-container {
	display: flex;
	position: relative;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	width: 50%;	
	max-width: inherit;
	right: -0.3em;
}

.hot-item-box-container h3 {
	position: absolute;
	white-space: nowrap	;
	top: 0.1em;
	font-size: 1.5em;
	margin-bottom: 0.2em;
	font-family: 'Black Ops One', sans-serif;
	font-weight: bolder;
	color: #6AC8D8;	
}

.hot-item-col {
	flex-direction: column;
	width: 34vw;
}

.product-size {
	display:flex;
	margin-top: 1.2em;
	font-size: 1.5em;
}

.product-size > li {
	padding-right: 0.4em;
}

.product-size > li:hover {
	color: #f80000;
}

.product-size-name{
	padding-right: 0.5em !important;
	font-weight: bold;
	color: #f80000;
}

#hot-item-price {
	position: absolute;
	color: #ff7b00;
	font-size: 2.5em;
	bottom: 1em;
	font-family: 'Lobster', sans-serif;
	font-weight: bold;
}

/* The div for shopping cart */
.index-cart{
	position: absolute;
	bottom: 0.5em;
	display:flex;
}

/* style of shopping cart button */
.cart-button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3px #999;
	margin-left: 4.5vw;
	right: 0.5vw;
}

.cart-button:hover {background-color: #3e8e41}

.cart-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Fixed icon */

.fixed-icon{
	background-color: #3e8e41;
    position: fixed;
    right: 1vw;
    bottom: 140px;
    border-radius: 5px 0px 1px 5px;
    box-shadow: 1px 1px 11px 1px #a59a9a;
	height: 10vh;
	width: 10vw;
}

/* Footer section */
#social-networks {
    text-align: center;
    padding: 20px 0 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
	bottom: 0;
}

#social-networks i {
    font-size: 4em;
    padding: 5%;
    color: var(--so-color);
}

.bot-footer {
	text-align: center;
	font-size: 1.8em;
	height: 3em;
	align-content: center;
	font-family: 'Black Ops One', sans-serif;
}

/* ________________________________End of index.html____________________________ */

/* ________________________________Start of instruction.html____________________________ */

#hero {
    height: 30vh;
    width: 100%;
	background-image: url("../images/hero-in.webp");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .6);
    font-size: 150%;
    position: absolute;
    bottom: 28px;
    width: 50%;
    min-height: 10vh;
    padding-top: 29px;
	padding-bottom: 13px;
    padding-left: 28px;
}

#cover-text>h2 {
	position: relative;
    color: #ffffff;
}

#wearing > h2 {
	font-size: 2em;
}

#wear-vid {
	margin: 0 24px;
}

#wear-vid video {
	width: 100%;
	height: auto;
	max-width: 720px;
}

#how-to {
	text-align: center;
}

#wear-instruction {
	padding: 30px 12.5% 0px;
}

#wear-instruction > p {
	letter-spacing: 1px;
	line-height: 2em;
	max-width: 80vw;
	margin-bottom: 1em;
}

#wear-instruction > br{
	margin-bottom: 0.5em;
}

#wear-instruction p em{
	font-size: 160%;
	font-weight: bold;
}

#nail-size-img {
	height: 800px;
    width: 100%;
	background-image: url("../images/nail-size.png");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
    position: relative;
}

/* ________________________________End of instruction.html____________________________ */

/* ________________________________Start of contact.html____________________________ */

/* Contact us Page */

#contact {
    background: url(../images/hero-contact.jpg) no-repeat;
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, .3);
    padding: 30px;
}

/* Make h2 in signUp form to color white */
#contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/* Make text input field transparent background, font color white and spacing */
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* Make radio button laying */
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
	margin-right: 15%;    
}

/* Textfield */
.text-field {
	width: 100%;
	height: 150px;
}

/* Make the join button have round border and enlarge font size to 100% */
.submit-button{
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
}

/* ________________________________End of contact.html____________________________ */

/* -----------------------------------Media query--------------------------------------------------------- */

/* Media query: mobile landscape (height:500px and down) */
@media only screen and (max-height: 500px) {
/* header */
header {
	height: var(--mob-ls-nav-h);
}

.navbar {
	top: -0.3em;
	padding: 0.1875em;
}

.navbar input {
	width: var(--mob-ls-nav-input);
	height: var(--mob-ls-nav-input);

}
.navbar span {
	width: var(--mob-ls-nav-span-w);
	height: var(--mob-ls-nav-span-h);
	left: 0.475em;
}

/* Logo */
#logo{
	max-height: var(--mob-ls-nav-h);
}

/* Main section */
main {
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: var(--mob-ls-nav-h);
}

#hot-product {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.product-container {
	width: 17.5em;
	margin: 2em;
}

.hot-item-img {
	height: 6.25em;
	width: 6.25em;
}

.hot-item-img > img {
	height: 6.25em;
	width: 6.25em;
}
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

.navbar ul li a {
	font-size: 2em;
}

.navbar input:checked ~ ul {
	width: 70vw;
	max-width: 725px;
	left: calc(-70vw /2);
}

#hero-index {
	padding: 0 var(--tab-hero-pad);
}

.carousel_map {
	width: var(--tab-hero-w);
}

.list {
	width: calc(5 * var(--tab-hero-w));
}

@keyframes move {
	0% {transform: translate(calc(0 * var(--tab-hero-w)));}
	25% {transform: translate(calc(-1 * var(--tab-hero-w)));}
	50% {transform: translate(calc(-2 * var(--tab-hero-w)));}
	75% {transform: translate(calc(-3 * var(--tab-hero-w)));}
	100% {transform: translate(calc(-4 * var(--tab-hero-w)));}
}

.item {
	width: var(--tab-hero-w);
}

#hot-item {
	display: flex;
	flex-direction: column;
}

.hot-item-box-container { 
	width: 48%;
	right: 0.54em;
	margin-top: 0.5em;
}
	
#hot-product {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-content: space-around;
}
       }

