
/* Asterisk wildcard selector to override default styles added by the browser */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set Variable */
:root {
	/* Mobile Landscape */
	--mob-ls-nav-h: 10vh;
	--mob-ls-nav-input: 2.5em;
	--mob-ls-nav-span-w: 1.5em;
	--mob-ls-nav-span-h: 0.25em;
	--mob-ls-hot-item-img-w: 15vw;
	--mob-ls-hot-item-img-h: 15vh;

	/* Mobile */
	--mob-nav-h: 7vh;
	--mob-nav-input: 2.5em;
	--mob-nav-span-w: 1.5em;
	--mob-nav-span-h: 0.25em;
	/* width for hot item */
	--min-width: 365px;
	--max-width: 400px;
	/* width for hot item image */
	--hot-item-img-w: var(--hot-item-img-h);
	--hot-item-img-h: 15vh;
	
	

	/* Tablet 768px */
	/* Remember to calculate --tab-hero-pad (100vw -w)/2  */
	--tab-hero-w: 96vw;
	--tab-hero-pad:	calc(4vw/2);

	/* Laptop 768px */
	/* Remember to calculate --lap-hero-pad (100vw -w)/2  */
	--lap-hero-w: 48vw;
	--lap-hero-pad:	calc(52vw/2);

  }

/* General styles */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	}

.hidden-heading {
    display: none;
}

.gap{
	gap: 3vh;
}

.vert-mid {
	vertical-align: middle;
}

.vert-sub {
	vertical-align: sub;
}

.vert-bot {
	vertical-align: bottom;
}

/* header */
header {
    background: url("../images/abstract-back.webp") no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
	min-width: var(--min-width);
	height: var(--mob-nav-h);
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar,
.navbar ul {
	/* 三个元素都需要弹性布局 写一块 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar {
	/* 相对定位 */
	position: relative;
	padding: 5px;
	border-radius: 50px;
	background-color: #e19eae;
	top: -0.8em;
}
.navbar input {
	width: var(--mob-nav-input);
	height: var(--mob-nav-input);
	/* when hover, cursor will become pointer */
	cursor: pointer;
	opacity: 0;
}
.navbar span {
	/* 绝对定位 */
	position: absolute;
	left: 0.6em;
	/* 现将两条线都放到一起 然后单独设置第二条线的位置 calc方法可以自动计算数值 */
	top: calc(50% - 0.4em);
	width: var(--mob-nav-span-w);
	height: var(--mob-nav-span-h);
	border-radius: 15px;
	background-color: #2A2522;
	/* 这里在解决一个问题 现在span覆盖着复选框 我们鼠标放到span点不中复选框  写这个属性就能解决这个问题 即便鼠标放到span上点击也能够选中或者未选中复选框*/
	pointer-events: none;
	/* 收回来的时候过渡刚好相反 */
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}
/* 因为第二条线在navbar这个元素内的第三个位置 所以这里写3 */
.navbar span:nth-child(3) {
	top: calc(50% + 0.2em	);
}
.navbar ul {
	width: 0;
	/* 溢出隐藏 */
	overflow: hidden;
	/* 现在这个盒子是扁的 待会解决这个问题 */
	/* 这个问题出现的原因是 文字被换行显示了 两个汉字竖着排列了 就撑大盒子了 */
	/* 这个属性可以让文字就在一行排列 不换行 */
	white-space: nowrap;
	transition: all 0.5s;
}
.navbar ul li {
	list-style: none;
	margin: 0 15px;
}
.navbar ul li a {
	/* 取消下划线 */
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}
.navbar ul li a:hover {
	color: #e19eae;
}
/* :checked是当选中的复选框的时候 ~ 是兄弟选择器 查找同一级的ul */
.navbar input:checked ~ ul {
	width: 350px;
}
.navbar input:checked ~ span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color: #FAB19F;
	/* 现在速度太快了 加个过渡 */
	/* 这是先执行top 然后.3s后执行transform */
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color: #FAB19F;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

/* Logo */
#logo{
	z-index: 1;
	max-height: var(--mob-nav-h);
	position: relative;	
	right:1vh
}



/* Main section */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: var(--mob-nav-h);
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero slide section */
/* Hero image slide start */
.carousel_map {
	width: 100vw;
	min-width: var(--min-width);
	display:flex	
}

.slide {
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: relative;
}

/* When hover on the image, button will appear */
.slide:hover .labels {
	display: flex;
}

/* When hover on the slide, animation will stop */
.slide:hover .list {
	animation: none;
}

/* Hide the radio button */
.slide input {
	display: none;
}

/* Position of button */
.labels {
	position: absolute;
	bottom: 0.5em;
	z-index: 1;
	width: inherit;
	justify-content: center;
    /* When hover leave, button will hide */
	display: none;	
}

/* 按钮样式 */
.labels label {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin: 0 0.3rem;
	border: 0.1rem solid #fff;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
}

/* Button will be colored when checked */
input[id=pic1]:checked ~ .labels label[for=pic1],
input[id=pic2]:checked ~ .labels label[for=pic2],
input[id=pic3]:checked ~ .labels label[for=pic3],
input[id=pic4]:checked ~ .labels label[for=pic4] {
	background-color: #f80000;
	border: 0.1rem solid #fff;
}

/* Choose radio button to choose the image */
input[id=pic1]:checked ~ .list {
	transform: translate(calc(0 * 100vw));
}
input[id=pic2]:checked ~ .list {
	transform: translate(calc(-1 * 100vw));
}	
input[id=pic3]:checked ~ .list {
	transform: translate(calc(-2 * 100vw));
}
input[id=pic4]:checked ~ .list {
	transform: translate(calc(-3 * 100vw));
}

/* remove the bullet point in the list */
ul {
	list-style: none;
}

.list {
	width: calc(5 * 100vw);
	height: inherit;
	position: relative;
	
	/* Animation setting */
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes move {
	0% {
		transform: translate(calc(0 * 100vw));
	}
	25% {
		transform: translate(calc(-1 * 100vw));
	}
	50% {
		transform: translate(calc(-2 * 100vw));
	}
	75% {
		transform: translate(calc(-3 * 100vw));
	}
	100% {
		transform: translate(calc(-4 * 100vw));
	}
}

/* The setting of the image */
.item {
	width: 100vw;
	min-width: var(--min-width);
	float: left;
}

.item > img {
	aspect-ratio: 1 / 1;
	object-fit: fill;
	object-position: center;
}


/* Hot item section */

#hot-item{
	position: relative;
	/* Make main element take up any surplus space to push footer down */
	flex: 1 0 auto;
}

#hot-product {
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;
}

.gap > h2 {
	color: #BE2228;
	text-align: center;
	font-family: 'Lobster', sans-serif;
	font-size: 3em;
	padding: 1vh 0;
}

.product-container {
	display: flex;
	width: 75%;
	min-width: var(--min-width);
	max-width: var(--max-width);
	background-color: #080A0B;
	opacity: 0.8;
	z-index: 1;
	color: #fff;
	margin-bottom: 1em;
}

.box-left {
	position: relative;
}

.box-right {
	position: relative;
	align-self: flex-end;
}

.hot-item-img {
	position: relative;
	height: var(--hot-item-img-h);
	width: var(--hot-item-img-w);
	flex: 1 1 20vw;
	border-radius: 0.25em;
	margin: 0.6em;
}

.hot-item-img > img {
	height: var(--hot-item-img-h);
	width: var(--hot-item-img-w);
}

.hot-item-box-container {
	display: flex;
	position: relative;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	width: 50%;	
	max-width: inherit;
	right: -0.3em;
}

.hot-item-box-container h3 {
	position: absolute;
	white-space: nowrap	;
	top: 0.1em;
	font-size: 1.5em;
	margin-bottom: 0.2em;
	font-family: 'Black Ops One', sans-serif;
	color: #6AC8D8;	
}

.hot-item-col {
	flex-direction: column;
	width: 34vw;
}

.product-size {
	display:flex;
	margin-top: 1.2em;
	font-size: 1.5em;
}


.product-size > li {
	padding-right: 0.4em;
}


.product-size > li:hover {
	color: #f80000;
}

.product-size-name{
	padding-right: 0.5em !important;
	/* font-size: 1.1em; */
}


#hot-item-price {
	position: absolute;
	color: #ff7b00;
	font-size: 2.5em;
	bottom: 1em;
}

.index-cart{
	position: absolute;
	bottom: 0.5em;
	display:flex;
}

.cart-button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3px #999;
	margin-left: 4.5vw;
}

.cart-button:hover {background-color: #3e8e41}

.cart-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Footer section */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* -------------------------------------------------------------------------------------------- */

/* Media query: mobile landscape (height:500px and down) */
@media only screen and (max-height: 500px) {
/* header */
header {
	height: var(--mob-ls-nav-h);
}

.navbar {
	top: -0.3em;
	padding: 0.1875em;
}

.navbar input {
	width: var(--mob-ls-nav-input);
	height: var(--mob-ls-nav-input);

}
.navbar span {
	width: var(--mob-ls-nav-span-w);
	height: var(--mob-ls-nav-span-h);
	left: 0.475em;
}

/* Logo */
#logo{
	max-height: var(--mob-ls-nav-h);
}

/* Main section */
main {
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: var(--mob-ls-nav-h);
}

#hot-product {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.product-container {
	width: 17.5em;
	margin: 2em;
}

.hot-item-img {
	height: 6.25em;
	width: 6.25em;
}

.hot-item-img > img {
	height: 6.25em;
	width: 6.25em;
}


}
/* -------------------------------------------------------------------------------------------- */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

#hero {
	padding: 0 var(--tab-hero-pad);
}

.carousel_map {
	width: var(--tab-hero-w);
}

.list {
	width: calc(5 * var(--tab-hero-w));
}

@keyframes move {
	0% {transform: translate(calc(0 * var(--tab-hero-w)));}
	25% {transform: translate(calc(-1 * var(--tab-hero-w)));}
	50% {transform: translate(calc(-2 * var(--tab-hero-w)));}
	75% {transform: translate(calc(-3 * var(--tab-hero-w)));}
	100% {transform: translate(calc(-4 * var(--tab-hero-w)));}
}

.item {
	width: var(--tab-hero-w);
}

#hot-item {
	display: flex;
	flex-direction: column;
}

.hot-item-box-container { 
	width: 48%;
	right: 0.54em;
}
	
#hot-product {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-content: space-around;
}

}
